<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.fitness.dao.HQDAO">
	<select id="selectBranchList" resultType="BranchVO">
		select branch.*, me_id as 'br_admin' from branch join member on me_name = br_name where br_name not in("본사") order by br_name;
	</select>
	
	<insert id="insertBranch">
		insert into branch(br_name, br_phone, br_postcode, br_address, br_detailAddress, br_extraAddress, br_detail)
		values
			(#{br.br_name}, #{br.br_phone}, #{br.br_postcode}, #{br.br_address}, 
				#{br.br_detailAddress}, #{br.br_extraAddress}, #{br.br_detail});
	</insert>
	
	<insert id="insertBranchFile">
		insert into branch_file(bf_name, bf_br_name)
		values(#{bf.bf_name}, #{bf.bf_br_name});
	</insert>
	
	<insert id="insertAdmin">
		insert into member
			(me_id, me_pw, me_email, me_name, me_phone, 
				me_postcode, me_address, me_detailAddress, me_extraAddress, me_birth, me_authority)
		values
			(#{me.me_id}, #{me.me_pw}, #{me.me_email}, #{me.me_name}, #{me.me_phone}, 
				#{me.me_postcode}, #{me.me_address}, #{me.me_detailAddress}, #{me.me_extraAddress}, 
				current_timestamp(), "BRADMIN")
	</insert>
	
	<select id="selectBranch" resultType="BranchVO">
		select * from branch where br_name = #{br.br_name};
	</select>
	
	<select id="selectAdmin" resultType="MemberVO">
		select * from member join branch on me_name = br_name where me_name = #{br.br_name} and me_authority = "BRADMIN";
	</select>
	
	<select id="selectBranchFileList" resultType="BranchFileVO">
		select * from branch_file where bf_br_name = #{br.br_name} order by bf_num;
	</select>
	
	<update id="updateBranch">
		update branch set 
			br_name = #{br.br_name}, 
			br_phone = #{br.br_phone},
			br_postcode = #{br.br_postcode},
			br_address = #{br.br_address},
			br_detailAddress = #{br.br_detailAddress},
			br_extraAddress = #{br.br_extraAddress},
			br_detail = #{br.br_detail}
		where br_name = #{br_ori_name};
	</update>
	
	<select id="selectBranchFile" resultType="BranchFileVO">
		select * from branch_file where bf_num = #{bf_num};
	</select>
	
	<delete id="deleteBranchFile">
		delete from branch_file where bf_num = #{bf.bf_num};
	</delete>
	
	<update id="updateAdmin">
		update member set
			me_id = #{me.me_id},      
			me_email = #{me.me_email}, 
			me_name = #{me.me_name},
			me_phone = #{me.me_phone}, 
			me_address = #{me.me_address}
		where me_name = #{br_ori_name} and me_authority = "BRADMIN";
	</update>
	
	<select id="selectEmployeeList" resultType="EmployeeVO">
		select * from employee where em_br_name not in("본사") order by em_num;
	</select>
	
	<select id="selectSportsProgramList" resultType="SportsProgramVO">
		select * from sports_program
	</select>
	
	<insert id="insertEmployee">
		insert into employee
			(em_num, em_name, em_phone, em_email, em_gender, em_position, 
				em_join, em_postcode, em_address, em_detailAddress, em_extraAddress, 
				em_fi_name, em_br_name, em_detail)
		values
			(#{em.em_num}, #{em.em_name}, #{em.em_phone}, #{em.em_email}, #{em.em_gender}, #{em.em_position}, 
				current_timestamp(), #{em.em_postcode}, #{em.em_address}, #{em.em_detailAddress}, #{em.em_extraAddress}, 
				#{em.em_fi_name}, #{em.em_br_name}, #{em.em_detail})
	</insert>
	
	<select id="selectEmployee" resultType="EmployeeVO">
		select * from employee where em_num = #{em.em_num};
	</select>
	
	<select id="selectEmployeeFileName" resultType="String">
		select em_fi_name from employee where em_num = #{em.em_num};
	</select>
	
	<update id="updateEmployee">
		update employee set
			em_name = #{em.em_name},
			em_phone = #{em.em_phone},
			em_email = #{em.em_email},
			em_gender = #{em.em_gender},
			em_position = #{em.em_position},
			em_postcode = #{em.em_postcode},
			em_address = #{em.em_address},
			em_detailAddress = #{em.em_detailAddress},
			em_extraAddress = #{em.em_extraAddress},
			em_fi_name = #{em.em_fi_name},
			em_br_name = #{em.em_br_name},
			em_detail = #{em.em_detail}
		where em_num = #{em.em_num};
	</update>
	
	<delete id="deleteEmployee">
		delete from employee where em_num = #{em.em_num};
	</delete>
	
	<select id="selectSportsEquipmentList" resultType="SportsEquipmentVO">
		select * from sports_equipment where se_name like concat("%", #{search}, "%");
	</select>
	
	<insert id="insertSportsEquipment">
		insert into sports_equipment(se_name, se_fi_name) values(#{se.se_name}, #{se.se_fi_name});
	</insert>
	
	<select id="selectSportsEquipment" resultType="SportsEquipmentVO">
		select * from sports_equipment where se_name = #{se.se_name};
	</select>
	
	<select id="selectSportsEquipmentFileName" resultType="String">
		select se_fi_name from sports_equipment where se_name = #{se_ori_name};
	</select>
	
	<update id="updateSportsEquipment">
		update sports_equipment set
			se_name = #{se.se_name},
			se_fi_name = #{se.se_fi_name}
		where se_name = #{se_ori_name};
	</update>
	
	<select id="selectBranchEquipmentStockList" resultType="BranchEquipmentStockVO">
		select * from branch_equipment_stock 
		<if test="bo == null">
			where be_br_name = "본사" order by be_num desc;
		</if>
		<if test="bo != null">
			where be_br_name = "본사" and be_se_name = #{bo.bo_se_name} and be_type = #{be_type} order by be_num;
		</if> 
	</select>
	
	<select id="selectBranchStockList" resultType="BranchStockDTO">
		select be_se_name, sum(be_amount) as be_se_total, se_fi_name as be_se_fi_name
		from branch_equipment_stock right join sports_equipment on se_name = be_se_name
		where be_br_name = "본사" and be_se_name like concat("%", #{search}, "%")
		group by be_se_name;
	</select>
	
	<insert id="insertBranchEquipmentStock">
		insert into branch_equipment_stock(be_amount, be_birth, be_record, be_type, be_br_name, be_se_name)
		values(#{be.be_amount}, #{be.be_birth}, current_timestamp(), #{be.be_type}, #{be.be_br_name}, #{be.be_se_name});
	</insert>
	
	<select id="selectBranchOrderList" resultType="BranchOrderVO">
		select * from branch_order 
		<if test="str == 'wait'">
			where bo_state in("승인대기") order by bo_num;
		</if>
		<if test="str == 'done'">
			where bo_state in("입고완료", "승인거절") order by bo_num desc;
		</if>
	</select>
	
	<select id="selectBranchOrder" resultType="BranchOrderVO">
		select * from branch_order where bo_num = #{bo_num};
	</select>
	
	<select id="selectBranchStock" resultType="BranchStockDTO">
		select be_se_name, sum(be_amount) as be_se_total, se_fi_name as be_se_fi_name
		from branch_equipment_stock right join sports_equipment on se_name = be_se_name
		where be_br_name = "본사" and be_se_name = #{bo.bo_se_name} 
		group by be_se_name; 
	</select>
	
	<update id="updateBranchOrderState">
		update branch_order	set bo_state = #{bo.bo_state} where bo_num = #{bo.bo_num};
	</update>
	
	<select id="selectPaymentTypeList" resultType="PaymentTypeVO">
		select * from payment_type order by pt_num;
	</select>
	
	<insert id="insertPaymentType">
		insert into payment_type(pt_name, pt_type, pt_date, pt_count, pt_price)
		values(#{pt.pt_name}, #{pt.pt_type}, #{pt.pt_date}, #{pt.pt_count}, #{pt.pt_price});
	</insert>
	
	<select id="selectPaymentType" resultType="PaymentTypeVO">
		select * from payment_type where pt_num = #{pt.pt_num};
	</select>
	
	<update id="updatePaymentType">
		update payment_type set
			pt_name = #{pt.pt_name},
			pt_type = #{pt.pt_type},
			pt_date = #{pt.pt_date},
			pt_count = #{pt.pt_count},
			pt_price = #{pt.pt_price}
		where pt_num = #{pt.pt_num};
	</update>
	
	<insert id="insertSportsProgram">
		insert into sports_program(sp_name, sp_detail, sp_type) values(#{sp.sp_name}, #{sp.sp_detail}, #{sp.sp_type});
	</insert>
	
	<insert id="insertProgramFile">
		insert into program_file(pf_name, pf_sp_name) values(#{pf.pf_name}, #{pf.pf_sp_name});
	</insert>
	
	<select id="selectSportsProgram" resultType="SportsProgramVO">
		select * from sports_program where sp_name = #{sp.sp_name};
	</select>
	
	<select id="selectProgramFileList" resultType="ProgramFileVO">
		select * from program_file where pf_sp_name = #{sp.sp_name};
	</select>
	
	<update id="updateSportsProgram">
		update sports_program set
			sp_name = #{sp.sp_name},
			sp_detail = #{sp.sp_detail},
			sp_type = #{sp.sp_type}
		where sp_name = #{sp_ori_name};
	</update>
	
	<select id="selectProgramFile" resultType="ProgramFileVO">
		select * from program_file where pf_num = #{pf_num};
	</select>
	
	<delete id="deleteProgramFile">
		delete from program_file where pf_num = #{pf.pf_num};
	</delete>
	
	<select id="selectMemberList" resultType="MemberVO">
		select * from member where me_authority in("USER", "REMOVED");
	</select>
	
	<select id="selectMember" resultType="MemberVO">
		select * from member where me_id = #{me.me_id};
	</select>
	
	<delete id="deleteMember">
		delete from member where me_id = #{me.me_id};
	</delete>
	
	<select id="selectMemberInquiryList" resultType="MemberInquiryVO">
		select * from member_inquiry 
		<if test="str == 'wait'">
			where mi_state in("답변대기") and mi_br_name = "본사" order by mi_num;
		</if>
		<if test="str == 'done'">
			where mi_state in("답변완료") and mi_br_name = "본사" order by mi_num desc;
		</if>
		<if test="str == 'FAQ'">
			where mi_state in("FAQ") and mi_br_name = "본사" order by mi_num;
		</if>
	</select>
	
	<select id="selectMemberInquiry" resultType="MemberInquiryVO">
		select * from member_inquiry where mi_num = #{mi.mi_num};
	</select>
	
	<update id="updateMemberInquiry">
		update member_inquiry set
			mi_title = #{mi.mi_title},
			mi_content = #{mi.mi_content},
			mi_state = #{mi.mi_state},
			mi_email = #{mi.mi_email},
			mi_it_name = #{mi.mi_it_name},
			mi_answer = #{mi.mi_answer}
		where mi_num = #{mi.mi_num};
	</update>
	
	<select id="selectMemberByEmail" resultType="MemberVO">
		select * from member where me_email = #{me_email};
	</select>
	
	<select id="selectInquiryTypeList" resultType="InquiryTypeVO">
		select * from inquiry_type;
	</select>
	
	<insert id="insertMemberInquiry">
		insert into member_inquiry(mi_title, mi_content, mi_state, mi_email, mi_date, mi_br_name, mi_it_name)
		values(#{mi.mi_title}, #{mi.mi_content}, #{mi.mi_state}, #{mi.mi_email}, 
				current_timestamp(), #{mi.mi_br_name}, #{mi.mi_it_name});
	</insert>
	
	<select id="selectPaymentList" resultType="PaymentVO">
		select payment.*, pt_name as pa_pt_name, me_email as pa_me_email from payment 
			join member on me_id = pa_me_id
		    join payment_type on pt_num = pa_pt_num
		where pa_end > current_date() and pa_state in("결제완료")
		order by pa_num desc;
	</select>
	
	<select id="selectPayment" resultType="PaymentVO">
		select payment.*, pt_type as pt_type from payment
			join payment_type on pt_num = pa_pt_num 
		where pa_num = #{pa_num};
	</select>
	
	<update id="updatePayment">
		update payment set
			pa_state = #{pa.pa_state}
		where pa_num = #{pa.pa_num};
	</update>
	
	<insert id="insertRefund">
		insert into refund(re_date, re_percent, re_price, re_reason, re_pa_num)
		values(current_timestamp(), #{re.re_percent}, #{re.re_price}, #{re.re_reason}, #{re.re_pa_num});
	</insert>
	
	<select id="selectLastPayment" resultType="PaymentVO">
		select payment.* from payment
			join payment_type on pt_num = pa_pt_num 
		where pa_end > current_date() and pa_state in("결제완료") and pa_me_id = #{pa.pa_me_id} and pt_type = #{pt_type}
		order by pa_num desc limit 0, 1;
	</select>
</mapper>