<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.fitness.dao.PaymentDAO">
	<select id="selectMembershipList" resultType="PaymentTypeVO">
		select * from payment_type
		where pt_type = '이용권';
	</select>
	<insert id="insertPayment">
		insert into payment(pa_price, pa_start, pa_end, pa_state, pa_me_id, pa_pt_num)
		values(#{pt.pt_price}, #{pa.pa_start}, #{end}, #{pa.pa_state}, #{me.me_id}, #{pt.pt_num});
	</insert>
	<insert id="insertPaymentHistory">
		insert into payment_history (ph_imp_uid, ph_merchant_uid, ph_amount, ph_status, ph_paid_at, ph_card_name, ph_card_number, ph_card_quota, ph_pt_num, ph_me_id)
		values(#{ph.ph_imp_uid}, #{ph.ph_merchant_uid}, #{ph.ph_amount}, #{ph.ph_status}, #{ph.ph_paid_at}, #{ph.ph_card_name}, #{ph.ph_card_number}, #{ph.ph_card_quota}, #{pt.pt_num}, #{me.me_id})
	</insert>
	
	<select id="getLastPaymentByUserId" resultType="PaymentVO">
	    SELECT pa.*
		FROM payment pa
		JOIN payment_type pt ON pa.pa_pt_num = pt.pt_num
		WHERE pa.pa_me_id = #{me_id}
		ORDER BY pa.pa_start DESC
		LIMIT 1
	</select>
	
	<select id="selectPayment" resultType="PaymentVO">
		SELECT * FROM payment
		WHERE pa_me_id = #{me_id}
		ORDER BY pa_start DESC
		LIMIT 1;
	</select>
	
	<select id="selectFirstPaymentStartDate" resultType="String">
	    SELECT pa_start 
	    FROM payment 
	    WHERE pa_me_id = #{me_id} 
	    ORDER BY pa_start ASC 
	    LIMIT 1;
	</select>
	
	<select id="selectLastPaymentEndDate" resultType="String">
	    SELECT pa_end 
	    FROM payment 
	    WHERE pa_me_id = #{me_id} 
	    ORDER BY pa_end DESC 
	    LIMIT 1;
	</select>

	<select id="selectPTMembershipList" resultType="PaymentTypeVO">
		select * from payment_type
		where pt_type = 'PT';
	</select>

</mapper>