@charset "utf-8";

/* 전체 공통 */
/* IR */
.hidden, #popup .popupContainer .popExit span,
legend {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

caption {
  position: relative;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* sursor */
button {
  cursor: pointer;
}

textarea{
  resize: none;
}

p{
  margin-bottom: 0px;
}

a:hover{
  text-decoration: none;
}

.ta {
  width: 100%;
  resize: none;
  padding: 5px;
  line-height: 1.4em;
}

html, body{
	font-family: 'notosans', "NotoSansKR", sans-serif;
}
body{
  font-size: 14px;
  overflow-x: hidden !important;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6,
dl, ol, ul{
  margin: 0px;
}

/* float */
.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearfix:after, .tab:after, .thumbList.type01 figure:after, .thumbList.type02 ul:after, .thumbList.type03 figure:after, .list-bottom:after, .tableView dd.headSub:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

/* align */
.textLeft {
  text-align: left !important;
}

.textCenter {
  text-align: center !important;
}

.textRight {
  text-align: right !important;
}

/* margin */
.mt-auto{
  margin-top: auto;
}

.textMiddle::before, .ulStyle.type02 li::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.textMiddle > *, .ulStyle.type02 li > * {
  vertical-align: middle;
}

label{
  margin: 0px;
}

/* text 생략 */
.ellipsis, .ellipsis2, .main_noticeBoard_box__title, .board_list__link, .ellipsis3, .ellipsis4 {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.ellipsis2, .main_noticeBoard_box__title, .board_list__link {
  white-space: normal;
  line-height: 1.2;
  height: 2.8em;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis3 {
  white-space: normal;
  line-height: 1.54;
  height: 4.62em;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ellipsis4 {
  white-space: normal;
  line-height: 1.54;
  height: 6.16em;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.blind{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/* icon common */
[class^=ic] {
  display: inline-block;
}

.skip_nav a {
  position: absolute;
  display: block;
  text-align: center;
  background: #f00;
  color: #fff;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin-top: 0px;
}

.skip_nav a:focus {
  width: 100%;
  height: auto;
  padding: 5px 0;
  overflow: auto;
  z-index: 2000;
}


/* bg */
.bg_dark{
  background-color: #111;
}
.bg_light{
  background-color: #fff;
}

/* color */
.color_red{
  color: #f00;
}
.error, .error>* {
  font-size: 12px !important;
  color: #f00 !important;
}

/* text */
.text_small{
  font-size: 11px;
}

/* 특수문자 */
._asterisk::after{
  content: "*";
  font-size: 14px;
  font-weight: 600;
  color: #f00
}

/* 스크롤 */
::-webkit-scrollbar {
  width: 6px;
  transition: all 0.2s;
}
::-webkit-scrollbar-track { 
  background-color: transparent;
}
::-webkit-scrollbar-thumb { 
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-button {
  display: none;
}
/* 코너에 라운드 효과 */
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 4px;
}


/* display */
.display_none{
  display: none !important;
}



/* swiper */
.main_banner_wrap .autoplay-progress {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 10;
}
.main_banner_wrap .autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	stroke-width: 4px;
	stroke: #fff;
	fill: none;
	stroke-dashoffset: calc(100 * (1 - var(--progress)));
	stroke-dasharray: 100;
	z-index: 10;
}
.main_banner_wrap .swiper-button-next,
.main_banner_wrap .swiper-button-prev{
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../image/icon/ic_bn_right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .5s;
}
.main_banner_wrap .swiper-button-next{
  right: 0px;
  transform: translate(-20px, -50%);
}
.main_banner_wrap .swiper-button-prev{
  left: 0px;
  transform: translate(20px, -50%);
  background-image: url("../image/icon/ic_bn_left.svg");
}
.main_banner_wrap .swiper-button-next:hover{
  transform: translate(-5px, -50%);
}
.main_banner_wrap .swiper-button-prev:hover{
  transform: translate(5px, -50%);
}
.main_banner_wrap .swiper-button-next:after, .swiper-button-prev:after{
  display: none;
}

.main_banner_wrap .swiper-slide{
  position: relative;
}
.main_banner_wrap .swiper-slide::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 699px;
  height: 363px;
  /* background-image: url("../image/main/main_text.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
}
.main_banner_wrap .swiper-slide img{
  max-width: 100%;   /* 가로 최대 크기 설정 */
}
/* swiper */





/* button */
.btn_x{
  display: flex;
  border: none;
  background-color: transparent;
}
[class*="btn btn_"]{
  width: 140px;
  height: 43px;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 8px 14px;
  background-color: #111;
  color: #fff;
}
[class*="btn btn_"]:hover, [class*="btn btn_"]:focus{
  background-color: #fff;
  border-color: #111;
  color: #111;
}
.btn_cancel{
  background-color: #fff;
  color: #111;
}
.btn_cancel:hover, .btn_cancel:focus{
  border-color: #666;
}
[class*="btn btn_"]+[class*="btn btn_"]{
  margin-left: 10px;
}
.btn_red{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn_red:hover, .btn_red:focus{
  color: #dc3545;
  background-color: #fff;
  border-color: #dc3545;
}
.btn_green{
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
}
.btn_green:hover, .btn_green:focus{
  color: #28a745;
  background-color: #fff;
  border-color: #28a745;
}
.btn_blue{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn_blue:hover, .btn_blue:focus{
  color: #007bff;
  background-color: #fff;
  border-color: #007bff;
}
.btn_yellow{
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn_yellow:hover, .btn_yellow:focus{
  color: #ffc107;
  background-color: #fff;
  border-color: #ffc107;
}
.btn_update{
  display: flex;
  align-items: center;
  justify-content: center;
  width: initial;
  color: #111;
  border-color: #111;
  background-color: #fff;
  transition: .3s;
}
.btn_update:hover, .btn_update:focus{
  color: #fff;
  background-color: #111;
}
.table [class*="btn btn_"].btn.btn_delete{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 154px;
  margin: 0;
  border: 1px solid #ddd;
  padding: 0px;
  background-color: #fff;
  transition: .3s;
}
.table [class*="btn btn_"].btn.btn_delete::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../image/icon/ic_delete.svg") no-repeat center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: .3s;
}
.table [class*="btn btn_"].btn.btn_delete:hover::after{
  opacity: 1;
}
.table [class*="btn btn_"].btn_img_insert{
  width: 100px;
  height: 28px;
  margin-left: 0px;
  border: 1px solid #28a745;
  background-color: #fff;
  color: #28a745;
  font-weight: 500;
}
.table [class*="btn btn_"].btn_img_insert span{
  color: #28a745;
  font-weight: 500;
}
.table [class*="btn btn_"].btn_img_insert:hover, .table [class*="btn btn_"].btn_img_insert:focus{
  background-color: #28a745;
  color: #fff;
}
.table [class*="btn btn_"].btn_img_insert:hover span, .table [class*="btn btn_"].btn_img_insert:focus span{
  color: #fff;
}


.btn_x::after{
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../image/icon/ic_x.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* btn_black, btn_white */
.btn_black_top_line, .btn_black_right_line,
.btn_black_bottom_line, .btn_black_left_line{
  -webkit-transition: 0s .3s;
  -o-transition: 0s .3s;
  transition: 0s .3s;
}
.btn_black_top_line{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #111;
  z-index: 0;
}
.btn_black_right_line{
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #111;
  z-index: 0;
  -webkit-transform: translate3d(5px, 5px, 0);
  transform: translate3d(5px, 5px, 0);
}
.btn_black_bottom_line{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #111;
  z-index: 0;
  -webkit-transform: translate3d(5px, 5px, 0);
  transform: translate3d(5px, 5px, 0);
}
.btn_black_left_line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #111;
  z-index: 0;
}
.btn_link_black .btn_black, .btn_link_black .btn_white{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 2px solid #111;
  border-radius: 0px;
  padding: 12px 20px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  background-color: #111;
  color: #fff;
  -webkit-transition: all .3s cubic-bezier(.78,.2,.21,.88), color 0s;
  -o-transition: all .3s cubic-bezier(.78, .2, .21, .88), color 0s;
  transition: all .3s cubic-bezier(.78,.2,.21,.88), color 0s;
}
/* hover */
.btn_link_black{
  position: relative;
}
.btn_link_black:hover .btn_black_top_line, .btn_link_black:focus .btn_black_top_line{
  width: 100%;
  -webkit-transition: width .4s .3s;
  -o-transition: width .4s .3s;
  transition: width .4s .3s;
}
.btn_link_black:hover .btn_black_left_line, .btn_link_black:focus .btn_black_left_line{
  height: 100%;
  -webkit-transition: height .2s .1s;
  -o-transition: height .2s .1s;
  transition: height .2s .1s;
}
.btn_link_black:hover .btn_black, .btn_link_black:focus .btn_black{
  color: #fff;
  -webkit-transform: translate3d(5px, 5px, 0);
  transform: translate3d(5px, 5px, 0);
}
.btn_link_black .btn_black_bg_white{
  border: 2px solid #111;
  background-color: #fff;
  color: #111;
}
.btn_link_black.bg_white .btn_black{
  border: 2px solid #111;
  background-color: #fff;
  color: #111;
}
.btn_link_black.bg_white .btn_black .ic_link_share{
  background-image: url("../image/icon/ic_link_share_black.svg");
}

.btn_white_top_line, .btn_white_right_line,
.btn_white_bottom_line, .btn_white_left_line{
  -webkit-transition: 0s .3s;
  -o-transition: 0s .3s;
  transition: 0s .3s;
}
.btn_white_top_line{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  z-index: 0;
}
.btn_white_right_line{
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
  z-index: 0;
  -webkit-transform: translate3d(5px, 5px, 0);
  transform: translate3d(5px, 5px, 0);
}
.btn_white_bottom_line{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 0;
  -webkit-transform: translate3d(5px, 5px, 0);
  transform: translate3d(5px, 5px, 0);
}
.btn_white_left_line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #fff;
  z-index: 0;
}
.btn_white{
  position: relative;
  width: 236px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 0px;
  padding: 14px 20px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  background-color: transparent;
  color: #fff;
  -webkit-transition: all .3s cubic-bezier(.78,.2,.21,.88), color 0s;
  -o-transition: all .3s cubic-bezier(.78, .2, .21, .88), color 0s;
  transition: all .3s cubic-bezier(.78,.2,.21,.88), color 0s;
}
/* hover */
.btn_link_white{
  position: relative;
}
.btn_link_white:hover .btn_white_top_line, .btn_link_white:focus .btn_white_top_line{
  width: 100%;
  -webkit-transition: width .4s .3s;
  -o-transition: width .4s .3s;
  transition: width .4s .3s;
}
.btn_link_white:hover .btn_white_left_line, .btn_link_white:focus .btn_white_left_line{
  height: 100%;
  -webkit-transition: height .2s .1s;
  -o-transition: height .2s .1s;
  transition: height .2s .1s;
}
.btn_link_white:hover .btn_white, .btn_link_white:focus .btn_white{
  color: #fff;
  -webkit-transform: translate3d(5px, 5px, 0);
  transform: translate3d(5px, 5px, 0);
}
.btn_link_white .btn_white_bg_white{
  border: 2px solid #fff;
  background-color: #111;
  color: #fff;
}
.btn_link_white.bg_black .btn_white{
  border: 2px solid #fff;
  background-color: #111;
  color: #fff;
}
.btn_link_white.bg_white .btn_white{
  border: 2px solid #fff;
  background-color: #fff;
  color: #111;
}
.btn_link_white .btn_white .ic_link_share{
  background-image: url("../image/icon/ic_link_share.svg");
}
.btn_link_white.bg_black .btn_white .ic_link_share{
  background-image: url("../image/icon/ic_link_share.svg");
}
.btn_link_white.bg_white .btn_white .ic_link_share{
  background-image: url("../image/icon/ic_link_share_black.svg");
}
.btn_link_white+.btn_link_white{
  margin-left: 10px;
}
/* 없앨까? */
.btn_black:focus, .btn_white:focus{
  box-shadow: none;
}
.btn_naver, .btn_kakao{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: initial;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 7px 20px;
	font-size: 16px;
  background-color: #fff;
  color: #666;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 22px;
}
.btn_naver::before, .btn_kakao::before{
  content: "";
	display: inline-block;
	width: 23px;
	height: 22px;
	margin-right: 10px;
	background: url("../image/icon/ic_naver.svg") no-repeat center;
}
.btn_kakao::before{
	background: url("../image/icon/ic_kakao.svg") no-repeat center;
}
.btn_naver:hover, .btn_naver:focus,
.btn_kakao:hover, .btn_kakao:focus{
  background-color: #EEEEEE;
  border-color: #DDD;
}
/* button end */





/* icon :: 아이콘 */
.ic_link_share{
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  background-image: url("../image/icon/ic_link_share.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .3s;
}
.fi.fi-br-edit{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
/* icon end */





/* main */
.main_layout{
  position: relative;
}
/* main end */

/* main_header */
.main_header{
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  z-index: 200;
}
.logo_wrap{
  display: flex;
}
.logo_wrap h1 {
  display: flex;
}
.logo{
  display: inline-block;
  width: calc(189px / 2);
  height: calc(105px / 2);
  margin-left: 62px;
  background-image: url("../image/main/KF_logo_white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo-dark{
  background-image: url("../image/main//KF_logo_black.svg");
}
.logo-white{
  background-image: url("../image/main//KF_logo_white.svg");
}
.gnb_wrap{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #111;
  color: #fff;
}
.gnb{
  display: flex;
  margin: 0px;
}
.gnb__item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 80px;;
}
.gnb__link,
.gnb_side__link > span{
  position: relative;
  display: inline-flex;
  padding: 4px 0px;
  color: #fff;
  transition: .1s;
  font-size: 14px;
  text-decoration: none;
}
.gnb__link:hover, .gnb__link:focus, .gnb__link._active
,.gnb_side__link:hover, .gnb_side__link:focus, .gnb_side__link._active{
  color: #fff;
  text-decoration: none;
}
.gnb__link::before{
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 1px;
  left: 0px;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
.gnb__link:hover::before, .gnb__link:focus::before, .gnb__link._active::before{
  content: "";
  width: 100%;
}
.gnb_side__sns, .ft_sns{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .3s;
}
.gnb_side__sns:hover .gnb_side__sns_defualt, .gnb_side__sns:focus .gnb_side__sns_defualt:focus{
  opacity: 0.5;
}
.gnb_side__logo{
  display: inline-block;
  width: calc(189px / 2);
  height: calc(105px / 2);
  background-image: url("../image/main/KF_logo_white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* gnb info icon end */

/* sns */
.sns_instagram{
  background-image: url("../image/icon/instagram.svg");
}
.sns_instagram:hover, .sns_instagram:focus{
  background-image: url("../image/icon/instagram_full.svg");
}
.sns_facebook{
  background-image: url("../image/icon/facebook.svg");
}
.sns_facebook:hover, .gnb_side__sns.sns_facebook:focus{
  background-image: url("../image/icon/facebook_full.svg");
}
.sns_twitter{
  background-image: url("../image/icon/twitter.svg");
}
.sns_twitter:hover, .sns_twitter:focus{
  background-image: url("../image/icon/twitter_full.svg");
}
/* sns end */



/* gnb_side */
.gnb_side{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 80px;
}
.gnb_side_wrap{
  position: absolute;
  top: -10px;
  right: -550px;
  width: 500px;
  height: 100%;
  min-height: 899px;
  padding: 40px;
  background: #111;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 100;
}
.gnb_side_wrap._active{
  right: -20px;
  opacity: 1;
  visibility: visible;
}
.gnb_side .btn_x{
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
}
.gnb_side .btn_x span{
  margin-right: 10px;
  font-size: 14px;
}
.gnb_side .btn_x::after{
  stroke: #fff;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.gnb_side .btn_x:hover::after,
.gnb_side .btn_x:focus::after{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gnb_side__info_wrap{
  height: 100%;
  padding: 10px 0px;
}
.gnb_side__info{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gnb_side__info .textbox{
  margin-bottom: 35px;
}
.gnb_side__info p{
  margin: 14px 0px;
}
.gnb_side__title{
  margin: 0 0 26px;
}
.gnb_side__link{
  color: #fff;
}
.gnb_side__link svg rect {
  -webkit-transition: -webkit-transform .3s cubic-bezier(.78,.2,.21,.88);
  transition: -webkit-transform .3s cubic-bezier(.78,.2,.21,.88);
  -o-transition: transform .3s cubic-bezier(.78, .2, .21, .88);
  transition: transform .3s cubic-bezier(.78,.2,.21,.88);
  transition: transform .3s cubic-bezier(.78,.2,.21,.88), -webkit-transform .3s cubic-bezier(.78,.2,.21,.88);
}
.gnb_side__link:hover svg rect:nth-of-type(1)
,.gnb_side__link:focus svg rect:nth-of-type(1){
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
}
.gnb_side__link:hover svg rect:nth-of-type(2)
,.gnb_side__link:focus svg rect:nth-of-type(2) {
  -webkit-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  transform: translateY(-12px);
}
.gnb_side__link{
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
/* gnb_side end */
/* main_header end */





/* main_container */
.main_container, .sub_container{
  min-height: calc(100vh - 425px);
}
.main_banner_wrap{

}
.main_banner{

}
.main_banner_wrap .main_banner__img{
  width: 100%;
  height: 100vh;
  min-height: 919px; /* 북마크바를 포함한 기본 크롬 height값 */
}
.sub_container{
}
/* main_container end */



/* main_footer */
.main_footer{}
.ft_info_wrap{
  position: relative;
  width: 100%;
  vertical-align: middle;
  border-top: 0 solid #e1e1e1;
  color: #fff;
  background-color: #000;
}
.ft_info{
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin: 0 auto;
  padding: 50px 0 50px;
}
.ft_info__title{
  margin-bottom: 25px;
}
.ft_info__item{
  flex: 0 0 25%;
}
.ft_info__link:hover, .ft_info__link:focus{
  color: white;
}
.ft_logo_wrap{}
.ft_logo{
  display: inline-block;
  width: calc(189px / 2);
  height: calc(105px / 2);
  margin-bottom: 32px;
  background-image: url("../image/main/KF_logo_white.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ft_copyright_wrap{
  width: 100%;
  color: #fff;
  background-color: #090909;
}
.ft_copyright{
  width: 1300px;
  margin: 0 auto;
  padding: 19px 9%;
  text-align: center;
}
/* main_footer end */


/* ion */
ion-icon{
  font-size: 25px;
}


/* sub page */
.sub_banner{
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("../image/sub/sub_banner_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sub_banner.sub_banner_01{background-image: url("../image/sub/sub_banner_01.jpg");}
.sub_banner.sub_banner_02{background-image: url("../image/sub/sub_banner_02.jpg");}
.sub_banner.sub_banner_03{background-image: url("../image/sub/sub_banner_03.jpg");}
.sub_banner.sub_banner_04{background-image: url("../image/sub/sub_banner_04.jpg");}
.sub_banner.sub_banner_05{background-image: url("../image/sub/sub_banner_05.jpg");}
.sub_banner.sub_banner_06{background-image: url("../image/sub/sub_banner_06.jpg");}
.sub_banner.sub_banner_07{background-image: url("../image/sub/sub_banner_07.jpg");}
.sub_banner::before{
  content: "";
  font-family: "Zen Kaku Gothic Antique";
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 52px;
  color: #fff;
}
.sub_banner.sub_banner_01::before{content: "지점 소개";}
.sub_banner.sub_banner_02::before{content: "회원권";}
.sub_banner.sub_banner_03::before{content: "프로그램";}
.sub_banner.sub_banner_04::before{content: "고객센터";}
.sub_banner.sub_banner_05::before{content: "지점 관리";}
.sub_banner.sub_banner_06::before{content: "본사 관리";}
.sub_banner.sub_banner_07::before{content: "마이페이지";}


.sub_content{
  display: flex;
  width: 1440px;
  margin: 0px auto;
  padding: 80px 0px;
}
.sub_content .sub_content_group{
  flex: 0 0 100%;
}
.sub_content:has(>.lnb_wrap) .sub_content_group{
  flex: 0 0 1200px;
}

.lnb_wrap{
  flex: 0 0 204px;
  display: flex;
  width: 100%;
  margin-right: 68px;
}
.lnb_wrap .lnb{
  flex-direction: column;
  width: 100%;
}
.lnb_wrap .lnb .lnb__link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #DDD;
  padding: 20px 0px;
  font-size: 14px;
  cursor: pointer;
  transition: .1s;
}
.lnb_wrap .lnb .lnb__item:first-child .lnb__link{
  border-top: 1px solid #DDD;
}
.lnb_wrap .lnb .lnb__link::after{
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/ic_arrow_right.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.lnb_wrap .lnb .lnb__link._active{
  font-weight: 600;
}
.lnb_wrap .lnb .lnb__link._active::after{
  background-image: url("../image/icon/ic_arrow_down.svg");
}
.lnb_wrap .lnb .lnb__link:hover, .lnb_wrap .lnb .lnb__link:focus{
  color: #111;
  font-weight: 600;
}
.nav_two{
  display: none;
  padding: 10px 0px;
  border-bottom: 1px solid #DDD;
}
.nav_two._active{
  display: block;
}
.nav_two__link{
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  font-size: 14px;
  color: #999999;
  transition: .1s;
}
.nav_two__link._active{
  color: #111;
}
.lnb_wrap .nav_two__link:hover, .lnb_wrap .nav_two__link:focus{
  color: #111;
}



.sub_title_wrap{ 
  margin-bottom: 80px;
}
.sub_title{
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 28px;
  color: #111111;
}
.sub_title__txt{
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}

/* tab */
.sub_hd_wrap:has(.search_bar_wrap) .tab_list{
  margin-bottom: 20px;
}
.tab_list{
  display: flex;
  margin-bottom: 40px;
}
.tab_item{
  margin: 0px 5px;
}
.tab_item:first-child{
  margin-left: 0px;
}
.tab_link{
  min-width: 100px;
  border: 1px solid #111;
  border-radius: 56px;
  padding: 6px;
  color: #111;
  background-color: #fff;
}
.tab_link._active{
  background-color: #111;
  color: #fff;
}

.tabList_wrap{
  width: 1440px;
  margin: 0 auto;
}
.tabList{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
  border-bottom: 1px solid #ddd;
}
.tabList_item{
  margin: 0px 20px;
  padding: 4px 4px 8px 4px;
}
.tabList_item:first-child{
  margin-left: 0px;
}
.tabList_item:last-child{
  margin-right: 0px;
}
.tabList_link{
  position: relative;
  padding: 4px 4px 10px 4px;
  font-size: 16px;
  font-weight: 400;
  color: #999;
  transition: .1s;
}
.tabList_link._active{
  font-weight: bold;
  color: #111;
}
.tabList_link:hover, .tabList_link:focus{
  color: #111;
}
.tabList_link._active::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #111;
}
/* tab end */

/* 검색 */
.search_bar_wrap{
  display: flex;
  margin-bottom: 40px;
}
.search_bar_wrap select.form-control{
  flex: 0 0 140px;
  min-width: 140px;
  width: 140px;
  height: initial;
  min-height: 40px;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 14px;
  color: #999;
  background-image: url("../image/icon/ic_select_down.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
.search_bar{
  position: relative;
  flex: 1 1 auto;
  margin-left: 10px;
}
.search_bar input.form-control{
  height: initial;
  width: 100%;
  min-height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 45px 8px 10px;
  font-size: 14px;
  color: #111;
}
.search_btn{
  position: absolute;
  top: 0px;
  right: 5px;
  flex: 0 0 40px;
  min-width: 40px;
  height: 40px;
  border: none;
  padding: 0px;
  color: transparent;
  background: url("../image/icon/ic_search.svg") no-repeat;
  background-size: 25px;
  background-position: center;
}

/* data-table :: search */
.table_wrap .dt-container .dt-layout-cell.dt-layout-end{
  width: 100%;
}
.table_wrap .dt-container .dt-layout-cell.dt-layout-end .dt-search{
  position: relative;
  width: 100%;
}
.table_wrap .dt-container .dt-layout-cell.dt-layout-end .dt-input{
  height: initial;
  width: 100%;
  min-height: 40px;
  margin: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 45px 8px 10px;
  font-size: 14px;
  color: #111;
}
.table_wrap .dt-container .dt-layout-cell.dt-layout-end .dt-search::after{
  content: "";
  position: absolute;
  top: 0px;
  right: 5px;
  width: 40px;
  height: 40px;
  background: url("../image/icon/ic_search.svg") no-repeat;
  background-size: 25px;
  background-position: center;
}
/* data-table :: search end */







/* table */
.table{
  margin-bottom: 40px;
}
.table thead th, .table tbody tr:first-child th{
  border-top: 2px solid #111111;
  border-bottom: 1px solid #DDD;
  text-align: center !important;
  font-weight: 600;
  color: #111111;
}
.table tbody tr:first-child th{
  text-align: left !important;
}
.table tbody th{
  text-align: left;
  font-weight: 600;
  color: #111;
}
.table tbody th, .table tbody td{
  vertical-align: baseline;
}
.table td, .table th{
  font-size: 14px;
  padding: 20px 10px;
  font-weight: 400;
  border-bottom: 1px solid #DDD;
  color: #111;
  text-align: left !important;
}
.table tbody tr:first-child td{
  border-top: 2px solid #111111;
  border-bottom: 1px solid #DDD;
}
.table:has(thead) tbody tr:first-child td{
  border-top: none;
}
.btn_wrap{
  display: flex;
  margin-top: 40px;
}
.btn_wrap+.btn_wrap{
  margin-top: 30px;
}
.btn_left_wrap{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.btn_right_wrap{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.btn_right_wrap>[class*="btn_link"]{
  margin-left: 20px;
}
.table tbody td div,
.table tbody td p,
.table tbody td span,
.table tbody td label{
  color: #111;
  font-weight: 300;
}
.table tbody td .text_min_height{
  min-height: 140px;
}
.table.table_center tbody tr td{
  text-align: center !important;
}
.table [class*="btn btn_"]{
  width: 100px;
  height: 28px;
  margin-left: 5px;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  line-height: 18px;
}
.table .btn.btn_address{
  width: 140px;
  height: 43px;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #111;
  color: #fff;
}
.table .btn.btn_address:hover, .table .btn.btn_address:focus{
  background-color: #fff;
  border-color: #111;
  color: #111;
}
.form-inline-50{
  justify-content: space-between;
}
.form-inline-50 > .form-control{
  flex: 0 0 calc(50% - 5px);
}
.form-inline-50 > .form-control:first-child{
  margin-left: 0px ;
}
.form-group .form-group{
  margin: 20px 0px;
}
.form-control:disabled, .form-control[readonly]:focus:not(:focus-visible){
  cursor: default;
  outline: 0;
  border-color: #ddd;
  box-shadow: 0 0 0 .2rem transparent;
}
/* table end */



/* bootstrap strain */
.form-group{
  margin-bottom: 0px;
  height: initial;
}
.form-control.custom-calender, .form-control.custom-select{
  height: initial;
  min-width: 180px;
  width: 180px;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  color: #111;
}
.form-control.custom-select{
  background-image: url("../image/icon/ic_select_down.svg");
  background-size: 24px 24px;
}
.form-control.custom-calender:disabled, .form-control.custom-select:disabled,
.form-control.custom-calender[readonly], .form-control.custom-select[readonly]{
  color: #999;
  cursor: not-allowed;
}
.form-control.custom-select option{
  color: #111;
}
.custom-select.w100{
  width: 100%;
}
.form-control{
  height: initial;
  width: 100%;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  color: #111;
}
.form-control::placeholder{
  color: #999;
}
textarea.form-control{
  height: 180px;
}
.form-control.w_email{
  width: 335px;
}
.form-control.w_email2{
  flex: 1 1 auto;
}
.email_at{
  margin: 0px 10px;
}
.email_at+.form-control.custom-select{
  margin-right: 14px;
}
/* bootstrap strain end */




/* 개인정보동의 */
.privacy_consent_wrap{
  width: 100%;
  padding: 35px 32px;
  background-color: #F5F5F5;
}
.privacy_consent_title{
  font-size: 14px;
  color: #111;
}
.privacy_consent_text{
  margin-top: 14px;
  font-size: 14px;
  color: #666;
}
/* 개인정보동의 end */



/* 마이페이지 - 결제내역 :: 회원권 결제 */
.info_container{
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 80px;
}
.info_box{
  margin: 0px 50px;
}
.info_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 200px;
  background: url("../image/common/fitness_ticket.svg") no-repeat top left;
}
.info_box.info_box_fitness_PT{
  background: url("../image/common/fitness_PT_ticket.svg") no-repeat top left;
}
.info_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
}
.info_box_fitness_PT{
  color: #fff;
}
.info_content__title{
  font-size: 24px;
  margin-bottom: 20px;
}
.info_content__text{
  font-size: 12px;
  text-align: center;
}
.info_content__text p{
  margin-top: 5px;
}
.info_content__text p:first-child{
  margin-top: 0px;
}


/* pagination */
.page-item.active .page-link{
  background-color: #111;
  border-color: #111;
}
.page-link{
  color: #111;
}
.page-link:hover{
  color: #111;
}
/* pagination end */



/* data-table */
table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:after{
  font-size: 8px;
}
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after{
  color: #111;
  opacity: 1;
}
table.dataTable thead>tr>th.dt-orderable-asc:hover, table.dataTable thead>tr>th.dt-orderable-desc:hover{
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
table.dataTable>thead>tr>th, table.dataTable>thead>tr>td,
table.dataTable>tbody>tr>th, table.dataTable>tbody>tr>td{
  padding: 20px 10px;
}
div.dt-container.dt-empty-footer tbody>tr:last-child>*{
  border-bottom: 1px solid #DDD;
}
div.dt-container.dt-empty-footer .dt-scroll-body{
  border-bottom: none;
}


/* data-table :: pagination */
div.dt-container div.dt-layout-row{
  justify-content: center;
  margin: 40px 0px 0px;
}
div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end{
  justify-content: center;
  margin-left: initial;
}
div.dt-container .dt-paging .dt-paging-button{
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #111;
  background: #fff;
  border: 1px solid #dee2e6;
  transition: .3s;
}
div.dt-container .dt-paging .dt-paging-button.current, div.dt-container .dt-paging .dt-paging-button.current:hover{
  color: #fff !important;
  text-decoration: none;
  background: #111;
  border-color: #111;
}
div.dt-container .dt-paging .dt-paging-button:hover, div.dt-container .dt-paging .dt-paging-button:focus{
  z-index: 2;
  color: #111 !important;
  text-decoration: none;
  background: #e9ecef;
  border-color: #dee2e6;
}
div.dt-container .dt-paging .dt-paging-button.disabled, div.dt-container .dt-paging .dt-paging-button.disabled:hover, div.dt-container .dt-paging .dt-paging-button.disabled:active{
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #111 !important;
}
/* data-table end */


/* 직원 관리 */
/* 직원 관리 :: profile */
.profile_img_wrap{
  width: 240px;
  height: 300px;
}
.profile_img_wrap label{
  cursor: pointer;
  width: 100%;
  height: 100%;
}
/* 직원관리 end */






/* 운동 기구 관리 */
.equipment_warp{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 500px;
  margin-top: 40px;
  overflow-y: auto;
}
.equipment_item{
  flex: 0 0 calc(33% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 20px 20px 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
}
.equipment_item:nth-child(3n){
  margin-right: 0px;
}
.equipment_img_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.equipment_img{
  width: 100%;
  height: 100%;
}
.equipment_info_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.equipment_img_insert, .equipment_img_update{
  width: 100%;
  text-align: center;
}
.equipment_img_insert .equipment_img, .equipment_img_update .equipment_img{
  border: 1px solid #ddd;
  border-radius: 4px;
}
/* 운동 기구 관리 end */



/* 지점 관리 */
.file-input{
  margin-top: 10px;
}
.branch_img_container{
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
  border: 1px solid #ddd;
  padding: 15px;
}
.branch_img_container .img-box{
  flex: 0 0 calc(25% - 15px);
  display: flex;
  height: 154px;
  margin: 20px 20px 0px 0px;
}
.branch_img_container .img-box:nth-child(4n){
  margin-right: 0px;
}
.img-box img{
  width: 100%;
  height: 100%;
  max-height: 300px;
}
.branch_img_container .img-box:nth-child(1), 
.branch_img_container .img-box:nth-child(2),
.branch_img_container .img-box:nth-child(3),
.branch_img_container .img-box:nth-child(4){
  margin-top: 0px;
}
.img_zero{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* 지점 관리 end */



/* modal */
.modal-dialog{
  max-width: 800px;
}
.modal-header{
  position: relative;
  border-bottom: none;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.modal-header .close{
  position: absolute;
  top: 48px;
  right: 58px;
}
.modal-body{
  max-height: 500px;
  padding: 20px 40px;
  overflow-y: auto;
}
.modal-body .table{
  margin-bottom: 0px;
}
.modal-footer{
  justify-content: center;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 40px;
}
/* modal end */




/* sns로 계속하기 */
.account_wrap{
  display: flex;
}




/* 이용약관 */
.terms_content{
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0px auto;
  padding: 200px 0px 80px;
}
.terms_content h3{
  font-size: 22px;
}
.terms_content .term-box{
  height: 300px;
  margin: 20px 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  overflow-y: auto;
}
.terms_content .form-check{
  margin-bottom: 80px;
}