@charset "utf-8";

.login_container *{
	font-family: "Zen Kaku Gothic Antique";
    color: #666;
}
.login_container{
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.login_wrap{
	display: flex;
    width: 100%;
    height: 100%;
}
.login_content{
	display: flex;
	width: 100%;
}

/* left */
.login_left_wrap{
	flex: 1 1 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 960px;
	min-height: 919px;
	height: 100vh;
	background: url("../image/common/login_banner.jpg") no-repeat center;
	background-size: cover;
}
.login_banner{
	display: flex;
	flex-direction: column;
    align-items: center;
	width: 380px;
}
.login_logo{
	display: inline-block;
	width: calc(189px / 2);
	height: calc(105px / 2);
    margin-left: 20px;
	background-image: url("../image/main/KF_logo_white.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}
.login_logo_text{
	position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    padding-top: 30px;
	color: #fff;
	font-size: 28px;
    font-weight: 700;
}
.login_logo_text::before{
	content: "";
	position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
	display: inline-block;
	width: 100px;
	height: 1px;
	background-color: #fff;
}


/* right */
.login_right_wrap{
	flex: 1 1 50%;
	padding: 42px 50px;
}
.login_prev{
	display: flex;
}
.login_prev::before{
	content: "";
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
    margin-right: 5px;
	background: url("../image/icon/ic_prev.svg") no-repeat center;
}
.login_group{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.login{
	width: 380px;
}
.login_title{
	text-align: center;
	margin-bottom: 40px;
	font-size: 32px;
	font-weight: 600;
	color: #111;
}
.login_form_group{
	display: flex;
	flex-direction: column;
}
.login_form_group+.login_form_group{
	margin-top: 40px;
}
.login_label{
    margin-bottom: 5px;
	font-size: 12px;
	color: #333;
}
.login_input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #BDBDBD;
	padding: 5px 2px;
	color: #111;
}
.password_wrap{
	position: relative;
}
.btn_password_visibility{
    position: absolute;
    top: 50%;
    right: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: initial;
    height: initial;
    border: none;
    padding: 5px;
    background: transparent;
    transform: translateY(-50%);
}
.btn_password_visibility:hover, .btn_password_visibility:focus{
	background-color: transparent !important;
}
.ic_eyes{
	display: inline-block;
	width: 16px;
	height: 17px;
	background-image: url("../image/icon/ic_eyes.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: .3s;
}

/* sns */
.sns_login_wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}
.sns_login{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #EEEEEE;
	border-radius: 48px;
    padding: 10px 15px;
	background-color: #FAFAFA;
    color: #666;
	font-size: 16px;
	font-weight: 300;
	transition: .3s;
}
.sns_login:hover, .sns_login:focus{
	background-color: #EEEEEE;
	border-color: #EEEEEE;
	color: #111;
}
.sns_login:hover span, .sns_login:focus span{
	color: #111;
}
.sns_login span{
	font-size: 16px;
    color: #666;
	font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 22px;
}
.sns_login.kakao__login::before, .sns_login.naver__login::before{
	content: "";
	display: inline-block;
	width: 23px;
	height: 22px;
	margin-right: 10px;
	background: url("../image/icon/ic_kakao.svg") no-repeat center;
}
.sns_login.naver__login::before{
	background: url("../image/icon/ic_naver.svg") no-repeat center;
}


.login_auto_find_wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
    margin: 20px 0px;
}
.login_find_wrap{
	display: flex;
	flex-direction: column;
	color: #333;
	text-align: right;
}

.find_link, .singup_link{
    font-weight: 700;
	color: #111;
	text-decoration: underline;
	transition: .3s;
}
.find_link:hover, .singup_link:hover{
	text-decoration: underline;
}
.btn.btn_login{
    width: 100%;
	height: initial;
    border-radius: 50px;
    padding: 10px 15px;
	color: #fff;
	box-shadow: 0px 15px 30px -5px rgba(0, 0, 0, 0.2);
}
.btn.btn_login:hover, .btn.btn_login:focus{
	color: #111;
}

/* 회원가입 */
.singup_wrap{
	margin-top: 40px;
	font-weight: 100;
}