@charset "utf-8";



.font-montserrat, .font-montserrat > *{
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	line-height: 2em;
	letter-spacing: 2px;
	font-weight: 400;
	text-transform: uppercase;
}



/* main_container */
.main_container, .sub_container{
	min-height: calc(100vh - 425px);
}
.main_banner_wrap{

}
.main_banner{

}
.main_banner_wrap .main_banner__img{
width: 100%;
height: 100vh;
min-height: 919px; /* 북마크바를 포함한 기본 크롬 height값 */
}
.sub_container{
}
/* main_container end */



/* main :: swiper */
.main_banner_wrap .autoplay-progress {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 10;
}
.main_banner_wrap .autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	stroke-width: 4px;
	stroke: #fff;
	fill: none;
	stroke-dashoffset: calc(100 * (1 - var(--progress)));
	stroke-dasharray: 100;
	z-index: 10;
}
.main_banner_wrap .swiper-button-next,
.main_banner_wrap .swiper-button-prev{
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../image/icon/ic_bn_right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .5s;
}
.main_banner_wrap .swiper-button-next{
  right: 0px;
  transform: translate(-20px, -50%);
}
.main_banner_wrap .swiper-button-prev{
  left: 0px;
  transform: translate(20px, -50%);
  background-image: url("../image/icon/ic_bn_left.svg");
}
.main_banner_wrap .swiper-button-next:hover{
  transform: translate(-5px, -50%);
}
.main_banner_wrap .swiper-button-prev:hover{
  transform: translate(5px, -50%);
}
.main_banner_wrap .swiper-button-next:after, .swiper-button-prev:after{
  display: none;
}

.main_banner_wrap .swiper-slide{
  position: relative;
}
.main_banner_wrap .swiper-slide::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 699px;
  height: 363px;
  background-image: url("../image/main/main_text.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
}
.main_banner_wrap .swiper-slide img{
  max-width: 100%;   /* 가로 최대 크기 설정 */
}
/* main :: swiper */



/* main :: program */
.fitness_banner_wrap{
	position: relative;
	display: flex;
	width: 100%;
	height: 500px;
}
.fitness_vertical_wrap{
}
.fitness_vertical{
	position: relative;
}
.fitness_vertical_title{
}
.fitness_banner_title_wrap{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.fitness_banner_title_wrap::before{
	content: "fitness";
	font-family: 'montserrat', sans-serif;
	position: absolute;
	top: 50%;
	left: -170px;
	-webkit-text-stroke: 1px #eee;
	font-size: 100px;
	color: #fff;
	font-weight: 900;
	transform: rotate(-90deg) translate(17%);
	text-transform: uppercase;

}
.fitness_banner_title_group{
	position: relative;
	width: 1400px;
	padding: 0px 15%;
	z-index: 1;
}
.fitness_banner_title{
	font-family: 'montserrat', sans-serif;
	font-size: 55px;
	line-height: .9em;
	letter-spacing: .02em;
	text-transform: uppercase;
	font-weight: 900;
	color: #000000;
	text-align: center;
}
.fitness_banner_text{
	margin-top: 30px;
	font-family: 'montserrat', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #7b7b7b;
	text-align: center;
}



.program_wrap{

}
.program_group{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.program_item{
	position: relative;
	flex: 0 0 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.program__link{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 600px;
	min-height: 450px;
	padding: 20px;
	color: #fff;
	transition: .3s;
	z-index: 1;
}
.program__link:hover, .program__link:focus{
	color: #fff;
}
.program__title{
	position: relative;
	font-size: 40px;
}
.program__title::before{
	content: "";
	position: absolute;
	top: 0px;
	left: -10px;
	width: 0px;
	height: 100%;
	background-color: #111;
	z-index: 0;
	transition: .5s;
}
.program_item:hover .program__link .program__title::before{
	width: calc(100% + 20px);
}
.program__title > span{
	position: relative;
	z-index: 1;
}
.program__explanation{
	font-size: 18px;
	margin: 30px 0 40px;
	text-align: center;
}

.program_item_bg{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	transition: .5s;
}
.program_item_bg_01{
	background: url("../image/common/program_banner_img_1.jpg") no-repeat center;
}
.program_item_bg_02{
	background: url("../image/common/program_banner_img_2.jpg") no-repeat center;
}
.program_item_bg_03{
	background: url("../image/common/program_banner_img_3.jpg") no-repeat center;
}
.program_item_bg_04{
	background: url("../image/common/program_banner_img_4.jpg") no-repeat center;
}
.program_item:hover .program_item_bg{
	transform: scale(1.2);
}
/* main :: program end */
