@charset "UTF-8";

/* 페이드 인 애니메이션 */
body {
	opacity: 0;
	transition: opacity 0.5s ease-in; /* 전환 시간을 조절하세요 (0.5s) */
}

/* 페이지가 로드된 후 페이드 인 완료 상태 */
body.fade-in {
	opacity: 1;
}

.btn-wide button {
	width: 250px !important; 
	transition: width 0.5s ease; /* 너비 변화 애니메이션 */
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	width: 100%; /* 모든 슬라이드가 100% 너비를 가지도록 설정 */
	height: auto; /* 자동으로 높이 조정 */
}

.swiper-button-next, .swiper-button-prev {
	position: absolute;
	bottom: 60px;
	right: 10px;
	width: 40px;
	height: 40px;
	z-index: 11;
	background-color: #585858;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	cursor: pointer;
}

.swiper-button-prev {
	left: 910px;
}

.swiper-button-next:after, .swiper-button-prev:after {
	display: none;
}

#program-image {
	position: relative; /* 부모 요소를 상대 위치로 설정 */
	text-align: center;
}

.swiper-slide::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 699px;
	height: 363px;
	background-image: none;
	background-size: cover;
	transform: translate(-50%, -50%);
	background-size: cover;
}

.main-container {
	display: flex;
	align-items: flex-start;
}

/* Main content */
.main-content {
	flex: 1;
	padding: 20px;
	position: relative;
}

/* content-text 스타일 설정 */
.content-text {
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 20px;
	position: absolute;
	bottom: 120px;
	right: 10px;
	max-width: 350px;
	z-index: 10;
	line-height: 1.7;
}

.navbar {
	display: flex;
	justify-content: center;
	/* background: #eee; */
	padding: 10px 0;
}

.navbar a {
	margin: 0 15px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.selected {
	color: #fff !important;
	background: #000 !important;
	position: relative;
	box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5); /* 오른쪽과 아래쪽에 그림자 효과 */
}

.lnb-sidebar .selected {
	width: 115%;
	transition: width 0.5s ease; /* 너비 변화 애니메이션 */
}

/* Swiper 설정 */
.swiper-container {
	width: 120%;
	max-width: 1000px;
	/* height: 400px; */
	position: relative; /* 버튼이 슬라이더 내부에 배치되도록 설정 */
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	max-height: 500px;
}

