@charset "UTF-8";

/* .calendar-wrapper table td {width: 100px; height: 100px;} */
.calendar-wrapper table td .selected {
	font-weight: 900;
	color: green;
	border-top-color: green;
}
.calendar-wrapper table td a {color: inherit;}

.calendar-wrapper table .btn-amount {
	display: inline-flex;
	justify-content: center; 
    width: 100%;
    height: 20px;
    font-size: 10px;
    align-items: center;
}

.account-book-container {
	display: flex;
	flex-direction: column;
	/* gap: 3em; */
	flex-wrap: nowrap; 
	width: 1000px;
}

.calendar-wrapper, .list-wrapper {
	width: 100%;
}

.calendar-wrapper {
	overflow-x: auto;
}

.program-button {
    padding: .15rem .3rem;
    font-size: .95rem;
    line-height: 1;
    border-radius: .25rem;
}

.btn-program-reservation1,
.btn-program-reservation2 {
    padding: .11rem .5rem;
    line-height: 2;
    border-radius: .25rem;
}

.btn-program-reservation2 {
    cursor: not-allowed;
    background-color: #fff;
    border-color: #111;
    color: #111;
}

a .disabled {
    color: gray; /* 비활성화된 링크 스타일 */
    pointer-events: none; /* 클릭 이벤트 비활성화 */
    text-decoration: none; /* 밑줄 제거 */
}

/* 페이드 인 애니메이션 */
body {
	opacity: 0;
	transition: opacity 0.5s ease-in; /* 전환 시간을 조절하세요 (0.5s) */
}

/* 페이지가 로드된 후 페이드 인 완료 상태 */
body.fade-in {
	opacity: 1;
}

.sidebar {
	width: 200px;
	padding: 20px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
	border: none;
	background: #fff;
	text-align: left;
	cursor: pointer;
	font-size: 16px;
	border: 1px solid #ccc;
	transition: background 0.3s;
	text-align: center;
	letter-spacing: 10px;
}

.sidebar a:hover {
	background: #ddd;
}

.main-container {
	display: flex;
	align-items: flex-start;
}

.btn-selected {
	color: #fff !important;
	background: #000 !important;
	position: relative;
	box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5); /* 오른쪽과 아래쪽에 그림자 효과 */
}

.btn-wide a {
	width: 220px !important;
	transition: width 0.5s ease; /* 너비 변화 애니메이션 */
}

.main-container {
	display: flex;
	align-items: flex-start;
}

.navbar {
	display: flex;
	justify-content: center;
	/* background: #eee; */
	padding: 10px 0;
}

.navbar a {
	margin: 0 15px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.sub_navbar {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.table-striped tbody td{
	text-align: center !important;	
}

.scrollable-text {
	max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}
.lnb_wrap {
    flex: 0 0 204px; /* 고정 너비 설정 */
    display: flex; /* 자식 요소를 flexbox로 배치 */
    flex-direction: column; /* 세로 방향으로 요소 배치 */
    position: relative; /* 자식 요소에 대해 위치를 설정 */
    max-width: 240px;
}

.lnb-container {
    flex: 1; /* 가변 크기로 설정 */
    /* 추가 스타일이 필요할 수 있음 */
}

.sub_content_group {
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    margin-left: 20px; /* 사이드바와의 간격 조정 */
    padding: 20px; /* 필요시 내부 여백 추가 */
}

.employee-modal .modal-content {
    width: 760px;
	bottom: -20px;
    left: -2px;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.employee-modal .close {
	top: auto;
	cursor: pointer;
	font-size: 3rem;
	padding: 0;
}
.modal-dialog .close {
	padding: 2rem 2rem 0 0;
	margin: -2rem -1rem -1rem auto;
	font-size: 3rem;
}

.employee-modal .modal-header,
.modal-dialog .modal-header {
    border-bottom: none;
}

.calendar,
.calendar td {
	border : none;
}
.calendar {
    border-collapse: separate;
    border-spacing: 15px 0px;
    table-layout: fixed; /* 고정 레이아웃 설정 */
}

.calendar th {
border : none !important;
}

.calendar td {
	border-top : solid 1px;
	position: relative;
    padding: 10px 0px;
    background-color: transparent;
}

.calendar .program-button span {
	font-weight: 500 !important;
}


.calendar td::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    background-color: transparent;
}

.calendar td.bg-highlight::before {
	background-color: #F7F7F7;
    border-top: 2px solid green;
}

.day-item {
	font-size: 16px;
	font-weight: 900 !important;
	margin : 0px 0px 10px -5px;
}